/.config/GIMP
/.config/REAPER
/.config/btop
/.config/cef_user_data
/.config/cmus
/.config/dconf
/.config/envman
/.config/glib-2.0
/.config/gtk-2.0
/.config/gtk-3.0
/.config/htop
/.config/ibus
/.config/libreoffice
/.config/lutris
/.config/menus
/.config/neofetch
/.config/paradox-launcher-v2
/.config/procps
/.config/pulse
/.config/teamviewer
/.config/terminator
/.config/user-dirs.dirs
/.config/user-dirs.local
/.config/vlc
/.config/yay
